{% extends "blog/base.html" %}
{% block title %}
  Posts
{% endblock title %}
{% block content %}
  <p>SHOW ALL POSTS HEREhh</p>
  <table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Date</th>
        </tr>
    </thead>
    <tbody>
      <!-- posts is the data from views.py, like in cherrypy -->
      {% for post in posts %}
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.author }}</td>
            <td>{{ post.published_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}
